<!doctype html>
<title>{% block title %}{% endblock %} - SMTrecords</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<nav>
  <h1>SMTrecords</h1>
  <div>
    <a href="{{url_for('root')}}">Overview</a> | <a href="{{url_for('all_runs')}}">Runs</a> | <a href="{{url_for('all_benchmarks')}}">Benchmarks</a>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
